<div class="container text-center">
  <h1 class="display-4 mt-5">Welcome to Falusvampens ReCaptcha Challenge</h1>

  <div class="completed-levels">
    <button
      type="button"
      class="btn btn-sm btn-primary"
      style="margin: 2px"
      *ngFor="let stage of completedStages"
      (click)="navigateToStage(stage)"
    >
      Level {{ stage }}
    </button>
  </div>
  <div
    class="stage-wrapper d-flex justify-content-center align-items-center"
    style="height: 50vh"
  >
    <!-- Stage 1: CAPTCHA -->
    <div
      *ngIf="currentStage === 1"
      class="d-flex justify-content-center align-items-center"
      style="height: 50vh"
    >
      <h2 class="mb-4">Stage 1: Prove Your Humanity</h2>
      <app-captcha-component
        (success)="onCaptchaSuccess()"
      ></app-captcha-component>
    </div>

    <!-- Stage 2: Math Question -->
    <div
      *ngIf="currentStage === 2"
      class="d-flex justify-content-center align-items-center"
      style="height: 50vh"
    >
      <h2 class="mb-4">Stage 2: Solve this Math Problem</h2>
      <app-math-question
        (questionPassed)="onMathQuestionPassed()"
      ></app-math-question>
    </div>

    <!-- Stage 3: CAPTCHA Again -->
    <div
      *ngIf="currentStage === 3"
      class="d-flex justify-content-center align-items-center"
      style="height: 50vh"
    >
      <h2 class="mb-4">Stage 3: Are You Still Human?</h2>
      <app-captcha-component
        (success)="onCaptchaSuccess()"
      ></app-captcha-component>
    </div>

    <!-- Stage 4: Final Stage with a random question-->
    <div
      *ngIf="currentStage === 4"
      class="d-flex justify-content-center align-items-center"
      style="height: 50vh"
    >
      <h2 class="mb-4">Stage 4: Answer this Question</h2>
      <app-random-question
        (questionPassed)="onRandomQuestionPassed()"
      ></app-random-question>
    </div>

    <!-- Completed all stages -->
    <div
      *ngIf="currentStage > 4"
      class="d-flex justify-content-center align-items-center"
      style="height: 50vh"
    >
      <app-result-component></app-result-component>
    </div>
  </div>
</div>
